<!DOCTYPE html>
<html ng-app="MEETINGS">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title translate="TITLE"></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="/js/lib/angular-translate.min.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/translations.js"></script>
  </head>

  <body>
    <div class="container">
      <form action="/" name="loginForm" class="form-signin" method="post">
        <input type="text" class="form-control" ng-model="loginType" name="login" required autofocus placeholder="{{ 'Login' | translate }}" />
        <input type="password" class="form-control" ng-model="passwordType" name="password" required placeholder="{{ 'Password' | translate }}" />
        <button type="submit" class="btn btn-lg btn-primary btn-block" translate="{{ 'Sign in/Sign up' | translate }}"></button>
      </form>
    </div>
  </body>
</html>
