[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 70px;
}

a {
    color: #00B7FF;
}

.full_screen {
    width: 90%;
}

.add-to-friends, .approve-to-friends, .remove-from-friends {
    cursor: pointer;
}

.friends {
    max-height: 400px;
    max-height: 400px;
    overflow-y: auto;
    padding-bottom: 40px;
}

.fixed {
    position: fixed;
}

.friends > a {
    cursor: default;
    float: left;
    width: 100%;
}

.friends > .list-group-item.active {
    background-color: #005580;
    color: white;
}

.friends > .list-group-item > div {
    float: right;
}

.friends > .list-group-item > div > div {
    cursor: pointer;
    margin-left: 10px;
}

.friends > .list-group-item > div > div.remove-from-friends {
    margin-right: 10px;
}

.add-to-friends, .approve-to-friends {
    color: green;
}

.chat {
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 4px;
    display: none;
}

.chat.opened {
    display: block!important;
}

.chat .form-group {
    display: inline;
}

.chat .form-group .form-control {
    width: 80%;
}

.chat .form-group button {
    padding: 25px 16px;
}

.chat .messages {
    min-height: 100px;
    max-height: 400px;
    overflow: auto;
}

.chat .messages > div {
    padding:3px;
}

.chat .title {
    font-weight: bold;
    font-size: 20px;
}

.chat .control-panel {
    float:right;
}

.chat .control-panel > div {
    cursor: pointer;
    margin-right: 3px;
}

#addition_people .modal-body {
    display: inline-block;
    width: 100%;
}

#addition_people .modal-body > div,
#addition_people .modal-body > button {
    float: left;
    margin: 0 10px;
}
#addition_people .modal-body > div {
    min-width: 121px;
    min-height: 100px;
    max-height: 300px;

    border-radius: 4px;
    border: 1px #ddd solid;
    overflow: auto;
}

#addition_people .modal-body > div > div {
    padding: 10px;
    border-bottom: 1px #ddd solid;
}

#addition_people .modal-body > div > div.active {
    background: blue;
    color: white;
}

.images_in_chat {
    width: 100%;
}

@media (max-width: 999px) {
    .friends {
        position: static;
    }

    .mobile-friends {
        width: 100%;
        margin-top: 10px;
    }

    .chat {
        width: 100%;
    }

    .chat .form-group .form-control {
        width: 70%;
        float:left;
    }
}

div[call] video {
    width: 300px;
}

.offline, .online {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

.offline {
    background-color: #ddd;
}

.online {
    background-color: green;
}