<div class="modal fade" id="addition_people" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ 'Addition people' | translate }}</h4>
      </div>

      <div class="modal-body">
        <div>
          <div
             ng-click="active_candidate = candidate;"
             ng-class="{'active': (active_candidate == candidate)}"
             ng-repeat="candidate in friends | candidates_to_chat:{except: chat}"
             >
            {{ candidate.username || candidate.login }}
          </div>
        </div>
        <button class="btn btn-default"> >> </button>

        <button class="btn btn-default"> << </button>
        <div></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | translate }}</button>
        <button type="button" class="btn btn-primary">{{ 'add people' | translate }}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
