<div class="col-xs-12 col-sm-9 chat ng-class: {'opened': chat}">
  <div class="messages">
    <div ng-repeat="message in messages">
      {{message.created_at | date:'HH:mm:ss'}} <b>{{ message.from.username || message.from.login }}:</b> {{ message.body }}
    </div>
  </div>

  <hr/>

  <form class="form-inline" role="form">
    <div class="form-group ng-class: {'has-success': new_message.length > 0}">
      <textarea class="form-control" ng-enter="send_message(new_message)" ng-model="new_message" rows="3"></textarea>
      <button type="button" ng-click="send_message(new_message)" class="btn btn-default btn-lg">{{ 'Send' | translate }}</button>
    </div>
  </form>
</div>
