<div class="col-xs-12 chat ng-class: {'opened': chat, 'col-sm-12': full_screen, 'col-sm-9': !full_screen}">
  <span class="title">{{ chat.name }}</span>

  <div class="control-panel">
    <div class="glyphicon glyphicon-fullscreen" ng-click="expand_full_screen();" ng-tooltip="{{ 'full screen' | translate }}"></div>
    <div class="glyphicon glyphicon-earphone" ng-click="call();" ng-tooltip="{{ 'call' | translate }}"></div>
  </div>

  <hr/>

  <div class="messages">
    <div ng-repeat="message in messages">
      <span>
        {{message.created_at | date:'HH:mm:ss'}}
        <b>
          {{
          messages[$index - 1].from._id == message.from._id
          ?
          '...'
          :
          (message.from.username || message.from.login) + ':'
          }}
        </b>
      </span>
      <span ng-bind-html="message.body | noHTML | newlines | links"></span>
    </div>
  </div>

  <hr/>

  <form class="form-inline" role="form">
    <div class="form-group ng-class: {'has-success': new_message.length > 0}">
      <textarea class="form-control" ng-shift-enter="send_message" ng-model="new_message" rows="3"></textarea>
      <button type="button" ng-click="send_message(new_message)" class="btn btn-default btn-lg">
        {{ 'Send' | translate }}
        <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>
  </form>

  <ng-include src="'templates/addition_people.html'"></ng-include>
</div>
