<div class="col-xs-12 chat ng-class: {'opened': chat, 'col-sm-12': full_screen, 'col-sm-9': !full_screen}">
  <span class="title">{{ chat.name }}</span>

  <div class="control-panel">
    <div class="glyphicon glyphicon-fullscreen" ng-click="expand_full_screen();" ng-tooltip="{{ 'full screen' | translate }}"></div>
    <div class="glyphicon glyphicon-earphone" ng-click="call();" ng-tooltip="{{ 'call' | translate }}"></div>
  </div>

  <hr/>

  <div call></div>

  <hr ng-hide="!chat.calling"/>

  <div class="messages">
    <div ng-repeat="message in chat.messages">
      <span>
        {{message.created_at | date:'HH:mm:ss'}}
        <b>
          {{
          chat.messages[$index - 1].from._id == message.from._id
          ?
          '...'
          :
          (message.from.username || message.from.login) + ':'
          }}
        </b>
      </span>
      <span ng-bind-html="message.body | noHTML | newlines | links"></span>
    </div>
  </div>

  <div class="participants">
    <p ng-repeat="participant in chat.participants">
      <span ng-class="{'online': participant.online, 'offline': !participant.online}"></span>
      {{ participant.username || participant.login }}
    </p>
  </div>

  <hr style="width:100%;float:left;"/>

  <form class="form-inline form-parcel" role="form">
    <div class="form-group ng-class: {'has-success': new_message.length > 0}">
      <textarea class="form-control" ng-shift-enter="send_message" ng-model="new_message" rows="3"></textarea>
      <button type="button" ng-click="send_message(new_message)" class="btn btn-default btn-lg">
        {{ 'Send' | translate }}
        <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>
  </form>
</div>
