<div class="sidebar-offcanvas col-sm-3 mobile-friends" id="sidebar" role="navigation" ng-hide="full_screen">
  <div class="list-group friends fixed">
    <div
       class="list-group-item ng-class: {'active': f.f.chat._id == chat._id}"
       ng-click="get_chat_and_open_by_friend_id(f.f.friend._id)"
       ng-repeat="f in friends">
      <span ng-class="{'online': f.online, 'offline': !f.online}"></span>
      <span>{{ f.f.friend.username || f.f.friend.login }}</span>
      <div>
        <div
           class="fa fa-envelope unread"
           ng-if="f.f.chat.not_read.indexOf(current_user._id) != -1"
           >
        </div>

        <div
           class="fa fa-phone"
           ng-click="call(f.f.chat);"
           ng-tooltip="{{ 'call' | translate }}">
        </div>

        <div addition_to_chat="{{ f.f.friend._id }}"
           class="add-to-chat fa fa-sign-in"
           draggable="true"
           ng-if="f.f.chat._id != chat._id"
           ng-tooltip="{{ 'add people' | translate }}">
        </div>

        <div
           class="remove-from-friends fa fa-minus"
           ng-click="remove_from_friends(f.f.friend)"
           ng-tooltip="{{ 'remove from friends' | translate }}">
        </div>
      </div>
    </div>

    <div class="list-group-item ng-class: {'active': chat._id == ch._id}" ng-click="open_chat(ch);" ng-repeat="ch in chats">
      <span>{{ ch.name }}</span>
      <div>
        <div
           class="fa fa-envelope unread"
           ng-if="ch.not_read.indexOf(current_user._id) != -1"
           >
        </div>
      </div>
    </div>
  </div>
</div>
