<div role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-href="/" class="navbar-brand">{{ 'TITLE' | translate }}</a>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#"> {{ current_user.login }} <b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <a href="#" ng-click="MainCtrl.logout('/logout')">{{ 'Sign out' | translate }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <div search></div>

      <div events></div>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div>
