<form class="navbar-form navbar-right search-people" role="search" style="width:300px;">
  <div class="form-group">
    <div class="input-group">
      <input type="text"
             data-html="true"
             data-title="{{ 'Found people' | translate }}"
             data-container=".search-people"
             data-toogle="popover"
             data-placement="bottom"
             data-animation="false"
             class="form-control"
             >
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">{{ 'Find' | translate }}</button>
      </span>
    </div><!-- /input-group -->
  </div>
</form>
